container {
    display: grid;
    grid-template: 150px 150px 150px / 150px 150px 150px;
    gap: 4px;
}

.cell {
    border: red solid;
    font-size: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}